// 


h1,
p,
// .td {
//   font-family: Lato;
// }

// .table {
//   font-size: 12px;
//   border: 1px solid lightgray;
// }

// .table,
// .td {
//   text-align: left;
// }

// .table-header {
//   font-weight: bold;
// }

// .table-header.table-row {
//   border-bottom: 2px solid gray;
// }

// .table-row {
//   display: block;
//   white-space: nowrap;
//   border-bottom: 1px solid lightgray;
//   overflow: hidden;
// }

// .table-row:last-child {
//   border: none
// }

// .td {
//   display: inline-block;
//   padding: 8px;
// }

// .td:nth-child(0) {
//   width: calc(10vw);
// }

// .td:nth-child(1) {
//   width: calc(10vw);
// }

// .td:nth-child(2) {
//   width: calc(20vw);
// }

// .td:nth-child(3) {
//   width: calc(20vw);
// }

.clickable {
  cursor: pointer;


}

.clickable:hover {
  color: #338cf0;
}

.child-row {
  background-color: #e8e8e8;
}

.container {
  margin-bottom: 1%;
}


::ng-deep .mat-form-field-outline {
  color: grey !important;
}

::ng-deep .mat-form-field-appearance-outline.mat-form-field-invalid.mat-form-field-invalid .mat-form-field-outline-thick {
  color: red !important;
  opacity: 0.8 !important;
}

.matformfieldstyle {
  font-size: 7px;
  margin-top: 5px
}

.matformfieldinputstyle {
  font-size: 16px;
}

.maticonsize {
  font-size: 15px;
}

.mat-option:hover {
  background: #EDF8FA !important;
}

#commonstyle {
  border: 15px none #f6f6f6
}

// table,
// th,
// td {
//   text-align: left;
// }

.lenthoftext {
  width: 200px;
}

.lenthoftextfield {
  width: 870px;
}

.lenthoftextfielddesc {
  width: 425px;
}

.gapforfield {
  margin-left: 20px;
}

.gapforfieldfy {
  margin-left: 20px;
}

.heightdesc {
  height: 100px;
}

.table_header{
  background-color: #c7c7c7;
}



// tr th,
// tr td {
//   padding: 2px;
// }

.textdecorationatag {
  text-decoration: underline;
  color: #044063;
  cursor: pointer;
}

.textdecorationatagdelete {
  text-decoration: underline;
  color: rgb(139, 39, 39);
  cursor: pointer;
}

.cursor {
  cursor: pointer;
}

.spacingfile {
  margin: 2px;
}


.inputCMTFile01 {
  width: 200px;
}


.btncolor {
  background-color: #e0e0e0;
}


.nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  background-color: transparent !important;
  color: #044063 !important;
  text-decoration: underline;
  cursor: pointer;
}

.nav-tabs .nav-link:hover {
  border: none !important;
  cursor: pointer;
}

.nav-tabs .nav-link {
  border: none;
  cursor: pointer;
}

#subname {
  font-size: 14px;
  font-weight: 400;
  color: black;

}



.viewdetails tr th {
  color: rgb(83, 75, 75);
  padding: 11px;
}


.viewdetails tr td {
  padding: 11px;
  text-align: center;
}


.detailsside {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);

}

.highlights {
  color: #044063;
  cursor: pointer;
}

.alignvertical {
  vertical-align: middle;
}

.iconemp {
  font-size: 60px;
}

.aligns {
  margin-top: 13px;
}


.SubDetails {
  color: #5f676c;
}

.fontsizeOne {
  font-size: 12px;
}

.fontsizeTwo {
  font-size: 14px;
}

.borderright {
  border-right: dotted;
  border-right-color: rgb(154, 162, 154);
}

.padings {
  padding: 1px;
}

.marginsize {
  margin: 20px;
}

.buttonOnTop {
  position: absolute;
  top: 0px;
  right: 0px;
}

.marginleftclass {
  margin-left: 20px;
}


body {
  background-color: #f9f9fa
}

.flex {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto
}

@media (max-width:991.98px) {
  .padding {
    padding: 1.5rem
  }
}

@media (max-width:767.98px) {
  .padding {
    padding: 1rem
  }
}

.padding {
  padding-top: 25px;
}

.card {
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none
}

.pl-3,
.px-3 {
  padding-left: 1rem !important
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  // border: 1px solid #d2d2dc;
  // border-radius: 20px;
}

.card .card-title {
  color: #000000;
  margin-bottom: 0.625rem;
  text-transform: capitalize;
  font-size: 0.875rem;
  font-weight: 500;

}

.card .card-description {
  margin-bottom: .875rem;
  font-weight: 400;
  color: #76838f;
}

p {
  font-size: 0.875rem;
  margin-bottom: .5rem;
  line-height: 1.5rem;
}

.table-responsive {
  display: block;
  width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

// .table,
// .jsgrid .jsgrid-table {
//   width: 100%;
//   max-width: 100%;
//   margin-bottom: 1rem;
//   background-color: transparent;
// }

// .table thead th,
// .jsgrid .jsgrid-table thead th {
//   border-top: 0;
//   border-bottom-width: 2px;
//   font-weight: 700;
//   font-size: 15px;
//   text-transform: uppercase;
// }

// .table td,
// .jsgrid .jsgrid-table td {
//   font-size: 0.875rem;
//   padding: .875rem 0rem;
// }

.badge {
  border-radius: 0;
  font-size: 12px;
  line-height: 1;
  padding: .375rem .5625rem;
  font-weight: normal;
}

// .body
// {
// background-color: #E5ECF3;
// }

// #leadtable tr:hover
// {
//   color: #338cf0;
// }

.mails:hover {
  border: #c3c6ca 1px solid !important;
  padding: 3px;
  cursor: pointer;
  border-radius: 5px;



}

.groups .icons {
  display: none;
}

.groups:hover .icons {
  display: inline-block;
}


.inputwidth {
  width: 350px;
  padding: 0px 15px 0px 0px;
}

.searchstyle {
  display: flex;
}

.leftalignment {
  padding-left: 11px !important;
}

.selectall{
  color:white;
  background-color: green;
}

.disabledclick{
  pointer-events: none;
  opacity: 0.8;
}

mat-label{
  word-break: break-all;
}


