.inputwidth{
    width: 350px;
    padding: 0px 10px;
}

.searchstyle{
    display: flex;
}

.tasktable{
    width: 100%;
}

.taskheader{
    height: 50px;
    align-items: center;
    background-color: gray;
    color: white;
}

.expnasionpanel{
    width: 765px;
    margin:8px 0px 
}

.subheading {
    font-size: 14px;
    font-weight: bold;
}