<!-- <div>


        <h4 class="card-title" style="font-size:21px;">
          <button mat-icon-button (click)="gotoDatapage()">
            <mat-icon class="alignvertical">
              arrow_back
            </mat-icon>
          </button>
          {{leadsview?.first_name}}&nbsp;{{leadsview?.middle_name}}&nbsp;{{leadsview?.last_name}}&nbsp;&nbsp;
          - <span style="font-size:17px;"> {{leadsview.occupancy}}</span>
        </h4>


        <hr>
        <h3 >Lead Information</h3>
        <div style="margin-bottom:1%;" class="row" *ngFor="let item of leadDetails">
          <div class="col-md-2 heading" *ngIf="item?.value1">
            <mat-label>
              {{item.name1}}
            </mat-label>
          </div>

          <div class="col-md-4 value" *ngIf="item?.value1">
            <mat-label>
              {{item.value1}}
            </mat-label>
          </div>
          <div class="col-md-3 heading" *ngIf="item?.value2">
            <mat-label>
              {{item.name2}}
            </mat-label>
          </div>
          <div class="col-md-3 value" *ngIf="item?.value2">
            <mat-label>
              <span *ngIf="item?.pipe2;else value2">{{item.value2}}</span>
              <ng-template #value2>
                {{item.value2}}
              </ng-template>
            </mat-label>
          </div>

        </div>
        <mat-accordion>
          <mat-expansion-panel #panel>
            <mat-expansion-panel-header>

              <div *ngIf="!panel.expanded">Show Details</div>
              <div *ngIf="panel.expanded">Hide Details</div>

            </mat-expansion-panel-header>

            <label class="mainheading">Address Details</label>
            <br>

            <div class="row maincontent" *ngFor="let item of addressDetails">
              <div class="col-md-2 heading" *ngIf="item?.value1">
                <mat-label>
                  {{item.name1}}
                </mat-label>
              </div>

              <div class="col-md-4 value" *ngIf="item?.value1">
                <mat-label>
                  {{item.value1}}
                </mat-label>
              </div>
              <div class="col-md-3 heading" *ngIf="item?.value2">
                <mat-label>
                  {{item.name2}}
                </mat-label>
              </div>
              <div class="col-md-3 value" *ngIf="item?.value2">
                <mat-label>
                  <span *ngIf="item?.pipe2;else temp3">{{item.value2}}</span>
                  <ng-template #temp3>
                    {{item.value2}}
                  </ng-template>
                </mat-label>
              </div>

            </div>
            <label class="mainheading">Family Details</label>
            <br>

            <div class="row maincontent" *ngFor="let item of familyDetails">
              <div class="col-md-2 heading" *ngIf="item?.value1">
                <mat-label>
                  {{item.name1}}
                </mat-label>
              </div>

              <div class="col-md-4 value" *ngIf="item?.value1">
                <mat-label>
                  {{item.value1}}
                </mat-label>
              </div>
              <div class="col-md-3 heading" *ngIf="item?.value2">
                <mat-label>
                  {{item.name2}}
                </mat-label>
              </div>
              <div class="col-md-3 value" *ngIf="item?.value2">
                <mat-label>
                  <span *ngIf="item?.pipe2;else temp2">{{item.value2}}</span>
                  <ng-template #temp2>
                    {{item.value2}}
                  </ng-template>
                </mat-label>
              </div>

            </div>
            <label class="mainheading">Bank Details</label>
            <br>

            <div class="row maincontent" *ngFor="let item of bankDetails">
              <div class="col-md-2 heading" *ngIf="item?.value1">
                <mat-label>
                  {{item?.name1}}
                </mat-label>
              </div>

              <div class="col-md-4 value" *ngIf="item?.value1">
                <mat-label>
                  {{item?.value1}}
                </mat-label>
              </div>
              <div class="col-md-3 heading" *ngIf="item?.value2">
                <mat-label>
                  {{item?.name2}}
                </mat-label>
              </div>
              <div class="col-md-3 value" *ngIf="item?.value2">
                <mat-label>
                  <span *ngIf="item?.pipe2;else temp2">{{item.value2}}</span>
                  <ng-template #temp2>
                    {{item.value2}}
                  </ng-template>
                </mat-label>
              </div>

            </div>
          </mat-expansion-panel>
        </mat-accordion>

      </div> -->

<!-- <div>


        <h4 class="card-title" style="font-size:21px;">
          <button mat-icon-button (click)="gotoDatapage()">
            <mat-icon class="alignvertical">
              arrow_back
            </mat-icon>
          </button>
          {{leadsview?.first_name}}&nbsp;{{leadsview?.middle_name}}&nbsp;{{leadsview?.last_name}}&nbsp;&nbsp;
          - <span style="font-size:17px;"> {{leadsview.occupancy}}</span>
        </h4>


        <hr>
        <h3 >Lead Information</h3>
        <div style="margin-bottom:1%;" class="row" *ngFor="let item of leadDetails">
          <div class="col-md-2 heading" *ngIf="item?.value1">
            <mat-label>
              {{item.name1}}
            </mat-label>
          </div>

          <div class="col-md-4 value" *ngIf="item?.value1">
            <mat-label>
              {{item.value1}}
            </mat-label>
          </div>
          <div class="col-md-3 heading" *ngIf="item?.value2">
            <mat-label>
              {{item.name2}}
            </mat-label>
          </div>
          <div class="col-md-3 value" *ngIf="item?.value2">
            <mat-label>
              <span *ngIf="item?.pipe2;else value2">{{item.value2}}</span>
              <ng-template #value2>
                {{item.value2}}
              </ng-template>
            </mat-label>
          </div>

        </div>
        <mat-accordion>
          <mat-expansion-panel #panel>
            <mat-expansion-panel-header>

              <div *ngIf="!panel.expanded">Show Details</div>
              <div *ngIf="panel.expanded">Hide Details</div>

            </mat-expansion-panel-header>

            <label class="mainheading">Address Details</label>
            <br>

            <div class="row maincontent" *ngFor="let item of addressDetails">
              <div class="col-md-2 heading" *ngIf="item?.value1">
                <mat-label>
                  {{item.name1}}
                </mat-label>
              </div>

              <div class="col-md-4 value" *ngIf="item?.value1">
                <mat-label>
                  {{item.value1}}
                </mat-label>
              </div>
              <div class="col-md-3 heading" *ngIf="item?.value2">
                <mat-label>
                  {{item.name2}}
                </mat-label>
              </div>
              <div class="col-md-3 value" *ngIf="item?.value2">
                <mat-label>
                  <span *ngIf="item?.pipe2;else temp3">{{item.value2}}</span>
                  <ng-template #temp3>
                    {{item.value2}}
                  </ng-template>
                </mat-label>
              </div>

            </div>
            <label class="mainheading">Family Details</label>
            <br>

            <div class="row maincontent" *ngFor="let item of familyDetails">
              <div class="col-md-2 heading" *ngIf="item?.value1">
                <mat-label>
                  {{item.name1}}
                </mat-label>
              </div>

              <div class="col-md-4 value" *ngIf="item?.value1">
                <mat-label>
                  {{item.value1}}
                </mat-label>
              </div>
              <div class="col-md-3 heading" *ngIf="item?.value2">
                <mat-label>
                  {{item.name2}}
                </mat-label>
              </div>
              <div class="col-md-3 value" *ngIf="item?.value2">
                <mat-label>
                  <span *ngIf="item?.pipe2;else temp2">{{item.value2}}</span>
                  <ng-template #temp2>
                    {{item.value2}}
                  </ng-template>
                </mat-label>
              </div>

            </div>
            <label class="mainheading">Bank Details</label>
            <br>

            <div class="row maincontent" *ngFor="let item of bankDetails">
              <div class="col-md-2 heading" *ngIf="item?.value1">
                <mat-label>
                  {{item?.name1}}
                </mat-label>
              </div>

              <div class="col-md-4 value" *ngIf="item?.value1">
                <mat-label>
                  {{item?.value1}}
                </mat-label>
              </div>
              <div class="col-md-3 heading" *ngIf="item?.value2">
                <mat-label>
                  {{item?.name2}}
                </mat-label>
              </div>
              <div class="col-md-3 value" *ngIf="item?.value2">
                <mat-label>
                  <span *ngIf="item?.pipe2;else temp2">{{item.value2}}</span>
                  <ng-template #temp2>
                    {{item.value2}}
                  </ng-template>
                </mat-label>
              </div>

            </div>
          </mat-expansion-panel>
        </mat-accordion> -->

<!-- </div> -->

