<div>
    <div style="margin-left: 19px;margin-right: 80%;width: 90%;">
        <h2>All Lead</h2>
        <div>
            <table class="table" id='commonstyle'>
                <thead class="table_header">
                    <tr>
                        <th>S.No</th>
                        <th>Lead</th>
                        <th>Product</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let data of leaddata;let i=index">
                        <td>{{i+1}}</td>
                        <td>{{data?.lead_id?.lead_first_name}}</td>
                        <td>{{data?.product_id?.product_name}}</td>
                    </tr>
                </tbody>
            </table>

            <div *ngIf="leaddata?.length == 0">
                <p style="text-align:center; ">No record found</p>
            </div>

            <div class="row" *ngIf="leaddata?.length  != 0">
                <div class="col-sm-12" style="font-size: small;text-align: right;margin-bottom: 5%;">
                    <button mat-icon-button [disabled]="leaddata_hasprevious === false" color="primary"
                        (click)="getpreviouslead()">
                        <mat-icon>arrow_back</mat-icon>
                    </button> {{currentleaddatapage}}
                    <button mat-icon-button [disabled]="leaddata_hasnext === false" color="primary"
                        (click)="getnextlead()">
                        <mat-icon>arrow_forward</mat-icon>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>