.center{
    display: flex;
    justify-content: center;
}

ul {
    margin-left: 20px;
  }
  
  .wtree1{
    display: block;
    /* border: 1px solid rgb(173, 173, 173);; */
    padding: 0px 0px 0px 0px;
    color: #888;
    text-decoration: none;
    list-style-type: none;
    
  }
  
  .wtree1 li{
    list-style-type: none;
    margin: 10px 10px 0px 0px;
    position: relative;
  }
  
  .wtree1 li span {
    display: block;
    border: 1px solid rgb(180, 179, 179);
    padding: 10px;
    color: #888;
    text-decoration: none;
  }
  
  .wtree li {
    list-style-type: none;
    margin: 10px 0 10px 10px;
    position: relative;
  }
  
  .wtree li:before {
    content: "";
    position: absolute;
    top: -10px;
    left: -20px;
    border-left: 1px solid rgb(173, 173, 173);
    border-bottom: 1px solid rgb(173, 173, 173);
    width: 20px;
    height: 15px;
  }
  
  .wtree li:after {
    position: absolute;
    content: "";
    top: 5px;
    left: -20px;
    border-left: 1px solid rgb(173, 173, 173);
    border-top: px solid rgb(173, 173, 173);
    width: 20px;
    height: 100%;
  }
  .wtree li:last-child:after{
    display: none;
    /* margin-bottom: 80px; */
  }
  
  .wtree li:first-child:before{
    /* display: none; */
    border-bottom: 0;
  }
  
  
  .wtree li span {
    display: block;
    border: 1px solid rgb(180, 179, 179);;
    padding: 10px;
    color: #888;
    text-decoration: none;
  }
  
  .wtree li span:hover, .wtree li span:focus {
    background: #eee;
    color: #000;
    border: 1px solid #aaa;
  }
  .wtree li span:hover + ul li span, .wtree li span:focus + ul li span {
    background: #eee;
    color: #000;
    border: 1px solid #aaa;
  }
  .wtree li span:hover + ul li:after, .wtree li span:hover + ul li:before, .wtree li span:focus + ul li:after, .wtree li span:focus + ul li:before {
    border-color: #aaa;
  }
  
  table{
    width: 100%;
  }
  
//   td,th{
//     /* width: 100px; */
//     /* flex-basis: 10%; */
  
//   }
  
  .col1 {
    /* flex-basis: 10%; */
    width:10%
  }
  .col2 {
    /* flex-basis: 20%; */
  width:20%;
  text-align:center;
  
  }
  .col3 {
    /* flex-basis: 20%; */
  width:20%;
  text-align:center;
  
  }
  .col4 {
    /* flex-basis: 20%; */
  width:20%;
  text-align:center;
  
  }
  .col5{
    /* flex-basis: 20%; */
  width:20%;
  text-align:center;
  
  }
  .col6{
    /* flex-basis: 20%; */
  width:20%;
  text-align:center;
  
  }

  .overalldiv{
    margin-bottom: 5%;
  }

  .leadstatus{
    font-weight: 1000;
    top:0px;
    position: absolute;
  }

  .activetd{
    /* box-shadow: rgb(0 0 0 / 45%) 0px 25px 20px -20px; */
    height: 43px;
    // box-shadow: rgb(9 30 66 / 25%) 0px 4px 8px -2px, rgb(9 30 66 / 8%) 0px 0px 0px 1px;
    background: #f6f6f6;
}

.activetd::after{
    content: ' *';
    color: red;
}

// .tdhighlight:hover{
   
//         // transform: scale(1.5); 
//         // height: 43px;
//             // box-shadow: rgb(9 30 66 / 25%) 0px 4px 8px -2px, rgb(9 30 66 / 8%) 0px 0px 0px 1px;
//             // background: #f6f6f6; 
    
// }

progress {
    color: lightblue;
    border-radius: 20px;
  }
  
  progress {
    border: none;
    width: 100%;
    background: crimson;
  }
  
  progress::-webkit-progress-value {
    background: lightblue;
  }
  
  progress::-moz-progress-bar {
    background: lightcolor;
  }
  
  progress::-webkit-progress-value {
    background: #5f717c;
  }
  
  progress::-webkit-progress-bar {
    background: lightgray;
  }
  
  .progress .progress-bar {
    background: #5f717c;
  }