<div class="custom-component">
    <!-- <label class="heading">
        {{title}}
    </label> -->
    <form [formGroup]="mappingForm">
        <mat-grid-list style="display:none " [cols]="4" [rowHeight]="100">
            <mat-grid-tile>
                <mat-label class="subheading">
                    Product

                    <br>
                    <mat-form-field style="width:90%">
                        <input type="text" (keyup)="productGet()" matInput [formControlName]="fProduct"
                            [matAutocomplete]="product">
                        <mat-autocomplete [panelWidth]="300" #product="matAutocomplete" [displayWith]="showName">
                            <mat-option (click)="productID=product.id;templatesGet()" [value]="product"
                                *ngFor="let product of productList">
                                ({{product.code}}) {{product.name}}
                            </mat-option>
                        </mat-autocomplete>
                    </mat-form-field>
                </mat-label>
            </mat-grid-tile>
            <mat-grid-tile>
                <mat-label class="subheading">
                    Task Template

                    <br>
                    <mat-form-field style="width:90%">
                        <input type="text" (keyup)="templatesGet()" matInput [formControlName]="fTaskTemplate"
                            [matAutocomplete]="taskTemplate">
                        <mat-autocomplete [panelWidth]="300" #taskTemplate="matAutocomplete"
                            [displayWith]="showTemplateName">
                            <mat-option [value]="temp" *ngFor="let temp of templatesList">
                                {{temp.template_name}}
                            </mat-option>
                        </mat-autocomplete>
                    </mat-form-field>
                </mat-label>
            </mat-grid-tile>

            <!-- <mat-grid-tile [colspan]="2">
                <mat-label class="subheading">
                    Description
                </mat-label>

                <mat-form-field style="width:68%">
                    <input matInput [formControlName]="fDescription">
                </mat-form-field>
            </mat-grid-tile> -->

            <mat-grid-tile  >
                <mat-label class="subheading">
                    Start Date
                    <br>
                    <mat-form-field style="width:90%">
                        <input matInput readonly type="text" [matDatepicker]="picker1" [formControlName]="fStartDate">
                        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                        <mat-datepicker #picker1></mat-datepicker>
                    </mat-form-field>
                </mat-label>
            </mat-grid-tile>

            <mat-grid-tile>
                <button type="button" (click)="mapLeadProduct()"
                    style="border-radius: 10px;border-color: #f5c68b; background-color: #f5c68b;margin-top:9%;margin-left:1%"
                    class="btn btn-light">
                    Map<mat-icon style="vertical-align:middle">send</mat-icon>
                </button>
            </mat-grid-tile>
        </mat-grid-list>
    </form>

    <label class="heading">
        Lead Product List
    </label>

    <!-- <mat-table class="table table-bordered" #table [dataSource]="dataSource">
        <ng-container matColumnDef="Product">
            <mat-header-cell *matHeaderCellDef>Product</mat-header-cell>
            <mat-cell *marCellDef="let element">({{element?.product.code}}){{element?.product.name}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="Template">
            <mat-header-cell *matHeaderCellDef>Template</mat-header-cell>
            <mat-cell *marCellDef="let element">{{element?.template.name}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="Status">
            <mat-header-cell *matHeaderCellDef>Status</mat-header-cell>
            <mat-cell *marCellDef="let element">{{element?.lead_status}}</mat-cell>
        </ng-container>



        <mat-header-row class="table_header" *matHeaderRowDef="columnList"></mat-header-row>
        <mat-row *matRowDef="let row; columns: columnList;"></mat-row>

    </mat-table>
    <mat-paginator [hidePageSize]="true">

    </mat-paginator> -->
    <div class="table-responsive">
    <table class="table table-hover table-bordered" id="tableGlobal">
        <thead>
            <tr>
                <th>Product</th>
                <th>Task Template </th>
                <th>Lead/Customer</th>
            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let data of dataSource">
                <td>{{data.product.product_name}}</td>
                <td>{{data.template.name}}</td>
                <td>
                    <span *ngIf="data.lead_status.text == 'Customer'" style="color:green;font-weight: bold;">
                        Customer
                    </span>
                    <span *ngIf="data.lead_status.text != 'Customer'" style="font-weight: bold;">
                        Lead
                    </span>

                </td>
                <!-- <td>{{data.lead_status}}</td> -->

            </tr>

        </tbody>
    </table>
</div>
</div>