<div>
    <nav>
        <div class="nav nav-tabs" style="margin-top: 1%;">
            <span class="nav-item nav-link" data-toggle="tab" (click)="vowSubModule(sub)" role="tab"
                *ngFor="let sub of VOW_Sub_Menu_List">
                {{sub.name}}
            </span>
        </div>
    </nav>

    <!-- lead -->
    <div *ngIf="isShowlead">
        <app-leaddata></app-leaddata>
    </div>

    <!-- group -->
    <div *ngIf="isShowgroup">
        <app-group></app-group>
    </div>

    <!-- leadreport -->
    <div *ngIf="isShowleadreport">
        <app-leadreport></app-leadreport>
    </div>
    
</div>

