<div class="overalldiv">
    <div>
        <P>RCSA</P>
    </div>
    <div class="rightalign">
        <button type="button" class="btn btn-outline-success" (click)="addquest()"
            style="border-radius:40px;margin-left: 50px"><span class="fa fa-plus"></span>
            ADD</button>
    </div>

    <div class="contentmargin">

        <div class="table-responsive">
            <form [formGroup]="rcasformquestion">

                <table class="table table-bordered" style="width: 150%;margin-top: 10px;">
                    <thead class="table_header">
                        <th>S.No</th>
                        <th>Title</th>
                        <th>Applicable</th>
                        <th>Branch code</th>
                        <th>Sub PFA</th>
                        <th>Risk Identified</th>
                        <th>Risk Family Type</th>
                        <th>Risk Rating</th>
                        <th>Process Control</th>
                        <th>Test Procedure</th>
                        <th>Observation</th>
                        <th>Result</th>
                        <th>CAP</th>
                        <th>CAP Description</th>
                        <th>CAP Tgt Dt</th>
                        <th>Delete</th>
                    </thead>
                    <tbody formArrayName="questarray">
                        <tr *ngFor="let item of rcasformquestion.controls.questarray['controls'] | paginate: { itemsPerPage: 10, currentPage: page } ; index as i"
                            [formGroupName]="findindex(i)">
                            <td>{{((page-1)*10)+i+1}}</td>
                            <td>
                                <mat-form-field>
                                    <input matInput formControlName="title">
                                </mat-form-field>
                            </td>
                            <td>
                                <mat-form-field>
                                    <input matInput formControlName="applicable">
                                </mat-form-field>
                            </td>
                            <td>
                                <mat-form-field>
                                    <input matInput formControlName="functional_area">
                                </mat-form-field>
                            </td>
                            <td>
                                <mat-form-field>
                                    <input matInput formControlName="sub_pga">
                                </mat-form-field>
                            </td>
                            <td>
                                <mat-form-field>
                                    <input matInput formControlName="risk">
                                </mat-form-field>
                            </td>
                            <td>
                                <mat-form-field>
                                    <input matInput formControlName="risk_family">
                                </mat-form-field>
                            </td>
                            <td>
                                <mat-form-field>
                                    <input matInput formControlName="risk_rating">
                                </mat-form-field>
                            </td>
                            <td>
                                <mat-form-field>
                                    <input matInput formControlName="process_control">
                                </mat-form-field>
                            </td>

                            <td>
                                <mat-form-field>
                                    <input matInput formControlName="test_procedure">
                                </mat-form-field>
                            </td>
                            <td>
                                <mat-form-field>
                                    <input matInput formControlName="observation">
                                </mat-form-field>
                            </td>
                            <td>
                                <mat-form-field>
                                    <input matInput formControlName="result">
                                </mat-form-field>
                            </td>
                            <td>
                                <mat-form-field>
                                    <input matInput formControlName="cap">
                                </mat-form-field>
                            </td>
                            <td>
                                <mat-form-field>
                                    <input matInput formControlName="cap_description">
                                </mat-form-field>
                            </td>
                            <td>
                                <mat-form-field>
                                    <input matInput formControlName="cap_tgt_dt">
                                </mat-form-field>
                            </td>
                            <td>
                                <button [disabled]="rcasformquestion.value.questarray.length == 1" mat-icon-button
                                    (click)="deletequest(i)">
                                    <mat-icon>delete</mat-icon>
                                </button>
                            </td>
                        </tr>
                        <tr>
                            <th colspan="17">
                              <div class="pagination" style="text-align: left;">
                                <pagination-controls responsive="true" (pageChange)="page = $event"></pagination-controls>
                              </div>
                            </th>
                        </tr>
                    </tbody>
                    
                </table>
            </form>
        </div>
    </div>
</div>