.mat-card-header {
    display: block;
}

// :host ::ng-deep .mat-form-field-appearance-outline.mat-form-field-disabled,.mat-form-field-outline {
//     opacity: 0;
// }

:host ::ng-deep .mat-grid-tile .mat-figure {
    justify-content: space-between;
    // align-items: flex-start !important;
    // display: inline-flex;
}

.heading {
    font-size: 16px;
    font-weight: bold;
}

.subheading {
    font-size: 14px;
    font-weight: bold;
}

.cardEnabled {
    box-shadow: rgba(111, 46, 240, 0.4) -5px 5px;
    transform: translate3d(0, 0, 0);
    transition: background .4s cubic-bezier(.25, .8, .25, 1), box-shadow 280ms cubic-bezier(.4, 0, .2, 1);
}

.cardCompleted:hover {
    box-shadow: rgba(89, 197, 86, 0.4) -5px 5px, rgba(23, 199, 88, 0.3) -10px 10px;
    transform: translate3d(0, 0, 0);
    transition: background .4s cubic-bezier(.25, .8, .25, 1), box-shadow 280ms cubic-bezier(.4, 0, .2, 1);
}

.cardDisabled:hover {
    box-shadow: rgba(39, 28, 61, 0.4) -5px 5px, rgba(31, 25, 59, 0.3) -10px 10px;
    transform: translate3d(0, 0, 0);
    transition: background .4s cubic-bezier(.25, .8, .25, 1), box-shadow 280ms cubic-bezier(.4, 0, .2, 1);
}

// .modal-header {
//     background: #044063 !important;
//     color:white;
//     font-size: 14px
// }